@import "tailwindcss" prefix(tw);
@import "./assets/markdown.css";

#kaveri-bot-app, #kaveri-bot-app > *  {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 16px !important;
}

.message-text > * + * {
  margin-top: 1.5em;
}

.message-text {
  line-height: 1.5;
}

/* Sidepanel transitions */
.chatbot-sidepanel {
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

#chatbot-toggler {
  transition: all 0.3s ease-in-out;
}

/* Shift website content */
body {
  transition: margin-right 0.3s ease-in-out;
  margin-right: 0;
}

html.kaveri-bot-active body > *:not(#kaveri-bot-app) {
  transition: margin-right 0.3s ease-in-out;
  margin-right: min(calc(100vw - 32px), 360px);
}
